@model DormDomain.Model.StudentChange

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви впевнені?</h3>
<div>
    <h4>StudentChange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeField)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeField)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
    </dl>
    
    <form asp-action="Видалити">
        <input type="hidden" asp-for="ChangeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
