@model IEnumerable<DormDomain.Model.GuestVisit>

@{
    ViewData["Title"] = "Відвідування";
}

<h1>Відвідування</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Додати запис про відвідування</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.VisitId">Оновити</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.VisitId">Деталі</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VisitId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
