@model DormDomain.Model.Faculty

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Назад до списку</a>
</div>
