@model IEnumerable<DormDomain.Model.Student>

@{
    ViewData["Title"] = "Студенти";
}

<h1>Студенти</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Додати студента</a>
    <a class="btn btn-success" type="=submit" asp-area="" asp-controller="Students" asp-action="Import">Завантажити з файлу</a>
    <a class="btn btn-success" type="=submit" asp-area="" asp-controller="Students" asp-action="Export">Експортувати у файл</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomNumber)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.StudentId">Оновити</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.StudentId">Історія</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StudentId">Видалити</a>
            </td>
        </tr>
}
        <div class="row">
            <div class="col-3">
                <div id="countByCourseChart"></div>
            </div>
        </div>

        @section Scripts
        {
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawCharts);

                function drawCharts() {
                    fetch('/api/charts/countByCourse')
                        .then(response => response.json())
                        .then(data => {
                            const dataTable = new google.visualization.DataTable();
                            dataTable.addColumn('string', 'Курс');
                            dataTable.addColumn('number', 'Кількість студентів');

                            data.forEach(item => {
                                dataTable.addRow([item.course, item.count]);
                         });

                            const options = {
                                title: 'Студенти за курсами',
                                width: 600,
                                height: 400,
                                legend: { position: 'none' },
                            };

                            const chart = new google.visualization.ColumnChart(document.getElementById('countByCourseChart'));

                            chart.draw(dataTable, options);
                        });
                }
            </script>
        }
    </tbody>
</table>
